<%= javascript_include_tag "jquery.nyroModal.custom" %>
<%= stylesheet_link_tag "nyroModal"  %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.nyroModal').nyroModal();
  });
</script>


  <table width="710px" border="0" cellpadding="2px" cellspacing="1px" bgcolor="#808080">
    <tr bgcolor="#DDDDDD">
    <div class="formHeading">
      Ticket Categories
      <div style="float: right;"><%= link_to "Add New", user_path(:new), :class => "nyroModal" %></div>
    </div>
    </tr>
    <tr bgcolor="#808080">
      <td><%= page_entries_info @users %></td>
      <td style="text-align:right"><%= will_paginate @users %></td>
    </tr>
    <tr bgcolor="#DDDDDD">
      <td width="710px" colspan="2">
        <table width="100%" border="0" cellpadding="3px" class="htmlForm" cellspacing="0">
          <tr class="table_head">
            <td>Login</td>
            <td>Name</td>
            <td>Email</td>
            <td>Tickets</td>
            <td>Customers</td>
            <td>&nbsp;</td>
          </tr>

          <%- @users.each do |u| -%>
            <tr>
              <td><%= u.login %></td>
              <td><%= u.name %></td>
              <td><%= u.email %></td>
              <td><%= image_tag "access_#{u.user_access.manage_tickets}.jpg" %></td>
              <td><%= image_tag "access_#{u.user_access.manage_customers}.jpg" %></td>
              <td style="text-align: right;">
                <%= link_to image_tag("/images/edit.png", :alt => "Edit", :width => 16, :height => 16), edit_user_path(u.id), :class => "nyroModal" %>&nbsp;
                <%= link_to image_tag("/images/preview.png", :alt => "View", :width => 16, :height => 16), user_path(u.id), :class => "nyroModal" %>&nbsp;
              </td>
            </tr>
          <%- end -%>

        </table>
      </td>


    </tr>
    <tr bgcolor="#808080">
      <td><%= page_entries_info @users %></td>
      <td style="text-align:right"><%= will_paginate @users %></td>
    </tr>
  </table>
