<% form_for :user, :url => users_path do |f| -%>

  <table border="0" cellpadding="2px" cellspacing="1px" bgcolor="#808080">
    <tr bgcolor="#DDDDDD">
      <td width="2px" bgcolor="#808080">
        
      </td>
      <td>
        <div class="formHeading formHeadingModal">Agent Registration</div>
        <table width="100%" border="0" cellpadding="3px" class="htmlForm" cellspacing="0">
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr>
            <td align="left">Username <%=image_tag "required_field.png"%></td>
            <td><%= f.text_field :login %></td>
          </tr>

          <tr>
            <td align="left">Full Name</td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
            <td align="left">Email <%=image_tag "required_field.png"%></td>
            <td><%= f.text_field :email %></td>
          </tr>

          <tr>
            <td align="left">Password <%=image_tag "required_field.png"%></td>
            <td><%= f.password_field :password %></td>
          </tr>

          <tr>
            <td align="left">Confirm Password</td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>

          <tr>
            <td align="left">Manage Tickets</td>
            <td><%= check_box :user_access, :manage_tickets %></td>
          </tr>

          <tr>
            <td align="left">Manage Ticket Categories</td>
            <td><%= check_box :user_access, :manage_ticket_categories %></td>
          </tr>
          
          <tr>
            <td align="left">Manage Customers</td>
            <td><%= check_box :user_access, :manage_customers %></td>
          </tr>
        </table>
      </td>

      <td valign="top">
        <ul class="points">
          <li>Username, Password and Email are mandatory.</li>
          <li>Full Name is optional but recommended.</li>
          <li>Manage Tickets are access rights for Agents to be able to create and edit tickets.</li>
          <li>Agents who can create/edit tickets can also reassign tickets to other Agents.</li>
          <li>Manage Agents, Ticket Categories and Customers is similar to Managing Tickets.</li>
        </ul>
      </td>
    </tr>
    <tr bgcolor="#808080">
      <td>&nbsp;</td>
      <td colspan="2">
        <%= submit_tag 'Submit', :onclick => "return validateAgentForm();" %>
        <%= submit_tag 'Cancel', :onclick => "$.nmTop().close(); return false;" %>
      </td>
    </tr>
  </table>

<%- end -%>

