<% form_for @customer do |f| -%>

  <table border="0" cellpadding="2px" cellspacing="1px" bgcolor="#808080">
    <tr bgcolor="#DDDDDD">
      <td width="2px" bgcolor="#808080">
        <%#= error_messages_for :customer %>
      </td>
      <td>
        <div class="formHeading formHeadingModal">Customer Registration</div>
        <table width="100%" border="0" cellpadding="3px" class="htmlForm" cellspacing="0">
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr>
            <td align="left">Company Name <%=image_tag "required_field.png"%></td>
            <td><%= f.text_field :company_name %></td>
          </tr>

          <tr>
            <td align="left">First Name</td>
            <td><%= f.text_field :first_name %></td>
          </tr>

          <tr>
            <td align="left">Last Name</td>
            <td><%= f.text_field :last_name %></td>
          </tr>

          <tr>
            <td align="left">Address Line 1</td>
            <td><%= f.text_field :address_1 %></td>
          </tr>

          <tr>
            <td align="left">Address Line 2</td>
            <td><%= f.text_field :address_2 %></td>
          </tr>

          <tr>
            <td align="left">State</td>
            <td><%= f.collection_select(:state_id, SFactory.all_states, :id, :name) %></td>
          </tr>

          <tr>
            <td align="left">City</td>
            <td><%= f.text_field :city %></td>
          </tr>

          <tr>
            <td align="left">Zip Code</td>
            <td><%= f.text_field :zip %></td>
          </tr>

          <tr>
            <td align="left">Work Phone</td>
            <td><%= f.text_field :work_phone %></td>
          </tr>
          
          <tr>
            <td align="left">Fax</td>
            <td><%= f.text_field :fax %></td>
          </tr>

          <tr>
            <td align="left">Mobile Phone</td>
            <td><%= f.text_field :mobile_phone %></td>
          </tr>

          <tr>
            <td align="left">E-mail</td>
            <td><%= f.text_field :email %></td>
          </tr>

          <tr>
            <td align="left">Website</td>
            <td><%= f.text_field :website %></td>
          </tr>
        </table>
      </td>

      <td valign="top">
        <ul class="points">
          <li>Company Name is mandatory.</li>
          <li>The Customers do not have a login.</li>
          <li>Zip code must be a 5 digit number</li>
        </ul>
      </td>
    </tr>
    <tr bgcolor="#808080">
      <td>&nbsp;</td>
      <td colspan="2">
        <%= submit_tag "Submit", :onclick => "return validateCustomerForm()" %>
        <%= submit_tag 'Cancel', :onclick => "$.nmTop().close(); return false;" %>
      </td>
    </tr>
  </table>

<%- end -%>
